@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Lato);
body {
    background: url(images/brackets.png) repeat;
}

#topBar {
    line-height: 34px;
    color: #666;
    margin-bottom: 2px;
    margin-top: 3px;
    font-size: 12px;
}

#topBar a {
    color: inherit;
}

div#logo {
    padding-left: 35px;
}

#pageTitle {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 36px;
    background-color: #444D59;
    background-image: url(images/title-bg-shade.png);
    padding: 25px 28px;
    margin-top: 10px;
    color: white;
}

#title-region .inner {
    color: white;
    margin: 0;
    padding: 25px 28px;
    background-image: url(images/title-bg-shade.png);
    background-position: top;
    background-repeat: repeat-x;
    background-color: #444D59;
}

#title-region .breadcrumb {
    color: #777;
    margin: 0;
    padding: 0 28px;
    background: #f5f5f5;
    border-top: 1px solid #fff;
    line-height: 32px;
    height: 32px;
}

#page-wrapper {
    background: #fdfdfd;
    min-height: 300px;
    -webkit-box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.25);
    border-color: #444D59;
    border-top: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-top: 2px solid;
}

#main {
    background: #FDFDFD;
    padding-bottom: 20px;
    padding-top: 20px;
}

.container-fluid {
    max-width: 1170px;
}

nav {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

nav li {
    margin: 0 15px 0 25px;
    padding: 0;
}

nav li a {
    color: inherit;
    text-decoration: none;
}

#content {
    margin: 100px auto;
}

#galleries {
    margin: 15px auto;
    text-align: center;
}

#galleries .row {
    margin: 10px auto;
}

.galleryGroups,
.thumbnail a,
.thumbnail a:hover {
    min-height: 331px;
}

.caption {
    text-align: center;
    min-width: 100%;
}

#imgPreview:not(.show),
.thumbnail:not(.show) a .caption p,
.expand img + span.glyphicon,
#coreGallery:not(.show),
#pathwayGallery:not(.show) {
    display: none;
}

.thumbnail a:hover .caption p,
.thumbnail a:focus .caption p {
    display: block;
}

.thumbnail.active .caption,
.thumbnail a:hover .caption,
.thumbnail a:focus .caption,
.expand:hover span,
.expand:focus span {
    top: 0;
    left: 0;
    position: absolute;
    min-height: 100%;
    min-width: 95%;
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    border: 3px solid black;
    color: white;
}

.thumbnail a .caption p {
    line-height: 1.5;
}

.thumbnail a:hover .caption p.show,
.thumbnail a:focus .caption p,
.expand:hover span.glyphicon,
.expand:focus span.glyphicon {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    display: inline-block;
}

.expand img {
    display: block;
    margin: 0 auto;
    padding: 0;
}

.expand span.glyphicon {
    color: #fff;
    height: 100%;
    font-size: 100px;
    padding: 40px;
}

#logo {
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 24pt;
    color: black;
    padding-top: 10px;
    padding-left: 20px;
}

#logo img {
    min-height: 53px;
    min-width: 375px;
}

#logo a {
    text-decoration: none;
    color: inherit;
}

#feedback-link:hover {
    background: #444D59;
}

.download {
    margin: 20px auto;
}

.ext {
    background: url(images/extlink.png) right center no-repeat;
    padding-right: 12px;
}

.magnify {
    background-color: #555;
    background: rgba(0, 0, 0, 0.25);
    border: 5px solid rgba(0, 0, 0, 0);
    cursor: crosshair;
    z-index: 2000;
    /*make index higher than modal */
}

footer li a,
footer {
    color: #777;
}

footer li a:hover {
    color: #FFFFFF;
}

footer {
    min-height: 45px;
    padding: 6px 10px;
    background: rgb(51, 51, 51);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(51, 51, 51, 1) 0%, rgba(43, 43, 43, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(51, 51, 51, 1)), color-stop(100%, rgba(43, 43, 43, 1)));
    background: -webkit-linear-gradient(top, rgba(51, 51, 51, 1) 0%, rgba(43, 43, 43, 1) 100%);
    background: -o-linear-gradient(top, rgba(51, 51, 51, 1) 0%, rgba(43, 43, 43, 1) 100%);
    background: -ms-linear-gradient(top, rgba(51, 51, 51, 1) 0%, rgba(43, 43, 43, 1) 100%);
    background: linear-gradient(to bottom, rgba(51, 51, 51, 1) 0%, rgba(43, 43, 43, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#2b2b2b', GradientType=0);
    line-height: 30px;
    font-size: 92%;
    border-color: #444D59;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
}
